/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: "Roboto", sans-serif;
}
/* header */
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  margin: 13px auto 15px;

}
.header_ul{
  display: flex;
  gap: 62px;
}
.header_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #1c1c1c;
}
.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: #6f2cff;
  padding: 13px 34px;
  border-radius: 20px;
}
.button:hover {
  background-color: rgb(224, 104, 24);
  transition: 0.5s;
  cursor: pointer;
}
/* section */
.main {
  background-color: #f6bed9;
  padding: 58px 0 59px;

}

.main_title {
  max-width: 470px;
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  color: #000000;
}
.main_title-violete {
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  color: #6f2dff;
}
.main_text {
  max-width: 438px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 18px 0;
}
.main_text-bold {
  font-weight: 900;
}
.main_input {
  width: 268px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #6f2cff;
  border-radius: 28px;
  padding-left: 26px;
}
.main_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.27);
}
.main_input:focus {
  outline: none;
}

.main_button {
  height: 45px;
  width: 187px;
  margin-left: 9px;
}
/* footer */
.footer {
  background-color: #20003c;
  padding: 67px 0 68px;
}
.footer_ul {
  display: flex;
  gap: 74px;
}
.footer_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.footer_button {
  height: 40px;
  width: 157px;
}
